<html>
    <body>
        <br>
        <p>Ola,</p>
        <br/>
        <p>Para validar seu aparelho no SmartAuth <a href="http://192.168.1.172:7008/servicos/ativarSmartphone?dispositivo=<%=dispositivo%>"> clique aqui.</a></p>
        <br/>
        <p>Att, equipe SmartAuth</p>
    </body>
</html>
